.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0px;
  position: relative;
  z-index: 5;

  h3 {
    font-size: 18px;
    color: rgb(134, 40, 12);
    margin: 0px 0px 4px;
  }
}
.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__panel {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(255, 255, 255, 0)
  );
  height: 100px;
}
.menu__show {
  cursor: pointer;
}
