.med__main {
  margin-bottom: 60px;
}
.list__medform {
  display: flex;
  justify-content: center; /* Убедитесь, что это значение вам действительно нужно */
  gap: 0 50px;
  list-style-type: none;
  color: rgb(108, 167, 176);
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 100px;
  @media (max-width: 800px) {
    justify-content: inherit;
  }
  .outlone__info {
    padding-top: 200px;
    color: brown;
    font-size: 40px;
  }
}
.medical__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 50px;
}
.med__main {
  position: relative;
  .medic__icon {
    position: absolute;
    width: 58px;
    height: 58px;
    cursor: pointer;
    float: left;
    color: rgb(108, 167, 176);
    right: 150px;
    top: -9px;
    @media (max-width: 800px) {
      right: 60px;
    }
    @media (max-width: 840px) {
      right: 60px;
    }
  }
  .select__type {
    box-sizing: border-box;
    flex: 1 0 0%;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    min-height: 36px;
    padding: 4px 4px 2px;
    border: 1px solid rgba(108, 167, 176, 0.5);
    color: rgb(0, 0, 0);
    text-align: left;
    cursor: pointer;
    font-size: 24px;
    max-width: 400px;
    option {
      background: rgb(206 214 215 / 50%);
      padding: 8px;
      color: black;
    }
  }
  .fio__name {
    font-size: 20px;
    color: rgb(134, 40, 12);
    margin: 0px 0px 4px;
    text-align: center;
  }
}

@media (max-width: 840px) {
}
