.content {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin: 8px 0px 0px;
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    .date__info {
      display: flex;
      align-items: center;
      gap: 0 15px;
      font-size: 20px;
      font-weight: 600;

      // h2 {
      //   display: flex;

      //   color: rgb(92, 140, 148);

      //   font-size: 20px;
      //   font-weight: 600;
      // }
      h2 {
        font-size: 20px;
      }
      input {
        width: 130px;
      }
      .wertyu {
        display: flex;
        text-align: center;
        align-items: center;
        height: 37px;
        gap: 0 15px;
        h2 {
          margin-bottom: 0;
        }
        .change__days {
          border-bottom: 1px solid black;
          width: 40px;
          text-align: center;
        }
      }
    }
  }
  .table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0px 0px;
  }
  .thead {
    color: rgb(108, 167, 176);
    font-family: Arial;
    font-size: 16px;
    td {
      text-align: center;
      border: 1px solid rgb(108, 167, 176);
      padding: 4px 0px;
      font-weight: bold;
    }
  }
  .tbody {
    color: rgb(108, 167, 176);
    font-family: Arial;
    font-size: 18px;
    input {
      box-sizing: border-box;
      flex: 1 0 0%;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      min-height: 28px;
      padding: 4px 4px 2px;
      border: none;
      color: rgb(0, 0, 0);
      text-align: center;
      font-family: Arial;
      font-size: 20px;
      width: 128px;
    }
    td {
      text-align: center;
      border: 1px solid rgb(108, 167, 176);
      padding: 4px 0px;
      font-weight: bold;
    }
  }
  .table_button {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0px 0px;
    margin-bottom: 20px;
    .body_button {
      color: rgb(108, 167, 176);
      font-family: Arial;
      font-size: 16px;
      input {
        box-sizing: border-box;
        flex: 1 0 0%;
        outline: none;
        white-space: nowrap;
        overflow: hidden;
        min-height: 28px;
        padding: 4px 4px 2px;
        border: none;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: Arial;
        font-size: 20px;
        width: 80px;
      }
      td {
        text-align: center;
        border: 1px solid rgb(108, 167, 176);
        padding: 4px 0px;
      }
    }

    .head_button {
      color: rgb(108, 167, 176);
      font-family: Arial;
      font-size: 16px;
      td {
        text-align: center;
        border: 1px solid rgb(0, 0, 0);
        padding: 4px 0px;
        font-weight: bold;
      }
    }
  }
  .click__save {
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 14px;
    background-color: rgb(108, 167, 176);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgba(108, 167, 176, 0.5);
    font-family: Arial, sans-serif; /* Добавлен запасной шрифт */
    font-size: 18px;
    opacity: 1;
    width: 140px;
  }
  .click__exit {
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 14px;
    background-color: rgb(108, 167, 176);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgba(108, 167, 176, 0.5);
    font-family: Arial, sans-serif; /* Добавлен запасной шрифт */
    font-size: 18px;
    opacity: 1;
    width: 140px;
  }
  .button__list {
    display: flex;
    padding-left: 83px;
    gap: 0 30px;
  }
}
@media (max-width: 800px) {
  input {
    width: 80px;
  }
}
