.primary__form {
  display: flex;
  flex-direction: column;
  border: none;

  padding-left: 15px;
  margin-bottom: 15px;

  .text__from {
    // box-sizing: border-box;
    
    // outline: none;
    // white-space: normal;
    overflow: hidden;
    height: 30px;
    padding: 4px 4px 2px;
    border: 1px solid rgba(108, 167, 176, 0.5);
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: Arial;
    font-size: 21px;
    margin-bottom: 5px;
  }
  .title__primary {
    box-sizing: border-box;
    cursor: default;
    padding: 4px;
    border: none;
    color: rgb(108, 167, 176);
    outline: none;
    text-align: left;
    font-family: Arial;
    font-size: 24px;
    display: inline;
    opacity: 1;
    z-index: 1;
  }
}
@media (max-width: 960px) {
  .primary__form {
    .title__primary {
      font-size: 21px;
    }
    .text__from{
      font-size: 19px;
    }
  }
}
