.table {
  width: 1850px; /* Увеличил ширину таблицы, чтобы вместить новые колонки */
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 15px;
  color: green;
  border: 2px solid green;
  table-layout: fixed; /* фиксируем ширину колонок */
  min-height: 150px;

  .th_date-begin {
    width: 89px;
    border: 1px solid black;
  }
}
.addButton {
  background-color: rgb(108, 167, 176);

  color: #ffffff;
  padding: 7px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  transition:
    background-color 0.3s,
    transform 0.2s;

  &:hover {
    background-color: #45a049;
    transform: translateY(-2px);
  }

  &:active {
    background-color: #3e8e41;
    transform: translateY(0);
  }
}
/* Заголовки */
.th {
  border: 1px solid green;
  padding: 8px;
  text-align: center;
  background-color: #f0f8f0;
  width: 110px;
}
.th-main__text {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  background-color: #f0f8f0;
  width: 220px;
}

.th_new {
  border: 1px solid green;
  padding: 8px;
  text-align: center;
  background-color: #f0f8f0;
  width: 490px;
}

.th_date {
  border: 1px solid green;
  padding: 8px;
  text-align: center;
  background-color: #f0f8f0;
  width: 200px;
}

.th-new-date {
  border: 1px solid green;
  padding: 8px;
  text-align: center;
  background-color: #f0f8f0;
  width: 130px;
}

.th-new-text {
  border: 1px solid green;
  padding: 8px;
  text-align: center;
  background-color: #f0f8f0;
  width: 250px;
}

.th-new-time {
  border: 1px solid green;
  padding: 8px;
  text-align: center;
  background-color: #f0f8f0;
  width: 100px; /* Для времени */
}

.th-medication {
  width: 250px;
}

.th-date {
  width: 50px;
}

.thDay {
  border: 1px solid green;
  border-right: 1px solid green;
  text-align: center;
  font-size: 13px;
  background-color: #e8f5e8;
  width: 50px; /* Каждый день ~50px */

  &:nth-last-child(1) {
    border-right: none;
  }
}

.td {
  border: 1px solid green;
  padding: 8px;
  text-align: left;
  min-height: 40px;
}

.tdDay {
  border: 1px solid green;
  border-right: 1px solid green;
  padding: 4px;
  text-align: center;
  font-size: 16px;
  width: 50px;

  &:nth-last-child(1) {
    border-right: none;
  }
}

.tdCenter {
  padding: 8px;
  text-align: center;
  border: 1px solid green;
}

.td-medication {
  width: 250px;
}

.td-date {
  width: 50px;
}

.td-reaction {
  width: 300px;
}

.td-new-date {
  width: 80px;
  border: 1px solid green;
  padding: 8px;
  text-align: center;
}
.th-new-date-1 {
  width: 135px;
  border: 1px solid green;
  padding: 8px;
  text-align: center;
}
.th-new-date-3 {
  width: 135px;
  border: 1px solid green;
  padding: 8px;
  text-align: center;
}
.th-new-text-doc {
  width: 200px;
  border: 1px solid green;
  padding: 8px;
  text-align: center;
}

.td-new-text {
  width: 250px;
  border: 1px solid green;
  padding: 8px;
  text-align: center;
  display: flex;
  justify-content: left;
}

.td-new-time {
  width: 100px;
  border: 1px solid green;
  padding: 8px;
  text-align: center;
}
