.doctor-list-items {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 500px;
  overflow-y: auto;

  .doctor-list-item {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-family: Arial;

    &:hover {
      background: #8597a8;
    }

    // Добавьте это для выделения выбранного доктора (из Redux)
    &.selected {
      background-color: #cce5ff; // Светло-синий фон, например
      color: #0056b3; // Темно-синий текст
      font-weight: bold; // Жирный шрифт для акцента
      border-left: 4px solid #007bff;
    }

    &:focus {
      outline: none;
    }
  }
}
