.primary__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 930px;
  margin: 0 auto;
  border: 2px solid rgba(108, 167, 176, 0.5);
  flex: 1 1 0%;
  border-radius: 8px 22px 22px 8px;
  padding: 10px;
  .title__content {
    box-sizing: border-box;
    cursor: default;
    padding: 4px;
    border: none;
    color: rgb(150, 8, 3);
    outline: none;
    text-align: left;
    font-family: Arial;
    font-size: 24px;
    display: inline;
    margin-bottom: 5px;
  }
  .button__save {
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 9px;
    background-color: rgb(108, 167, 176);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgba(108, 167, 176, 0.5);

    font-size: 20px;
    opacity: 1;
    width: 138px;
    margin-left: 15px;
  }
}

.title__content {
  box-sizing: border-box;
  cursor: default;
  padding: 4px;
  border: none;
  color: rgb(108, 167, 176);
  outline: none;
  text-align: left;
  font-family: Arial;
  font-size: 24px;
  display: inline;
  margin-bottom: 5px;
}
.button__form {
  display: flex;
  gap: 0 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 15px;
  justify-content: center;
  button {
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 19px;
    background-color: rgb(108, 167, 176);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgba(108, 167, 176, 0.5);

    font-size: 18px;
    opacity: 1;
  }
  .title__content {
    box-sizing: border-box;
    cursor: default;
    padding: 4px;
    border: none;
    color: rgb(150, 8, 3);
    outline: none;
    text-align: left;
    font-family: Arial;
    font-size: 24px;
    display: inline;
    margin-bottom: 5px;
  }
}
.primary__content {
  display: flex;
  flex-direction: column;
}
@media (max-width: 960px) {
  .primary__main {
    max-width: 815px;
  }

  .button__form {
    button {
      padding: 7px 9px;
      font-size: 17px;
      opacity: 1;
    }
  }
}
